<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>calendar demo</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/sunny/jquery-ui.css">
    <link rel='stylesheet' href='webjars/fullcalendar/3.5.1/dist/fullcalendar.css' />
    <link type="text/javascript" rel="stylesheet" href="js/main.js" />

    <script src='webjars/moment/2.19.1/min/moment.min.js'></script>
    <script src='webjars/fullcalendar/3.5.1/dist/fullcalendar.js'></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
</head>

<body>
    <p></p>
    <div>
        <div sec:authorize="isAnonymous()" id="login">
            <h3 class="text-center text-white pt-5">Login form</h3>
            <div class="container">
                <div id="login-row" class="row justify-content-center align-items-center">
                    <div id="login-column" class="col-md-6">
                        <div id="login-box" class="col-md-12">
                            <form th:action="@{/authenticateTheUser}" id="login-form" class="form" action="" method="post">
                                <h3 class="text-center text-info">Login</h3>
                                <div class="form-group">
                                    <label for="username" class="text-info">Username:</label><br>
                                    <input type="text" name="username" id="username" placeholder="Username" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="password" class="text-info">Password:</label><br>
                                    <input type="password" name="password" id="password" placeholder="Password" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="remember-me" class="text-info"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                                    <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                                </div>
                                <div id="register-link" class="text-right">
                                    <a href="#" class="text-info">Register here</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div sec:authorize="!isAnonymous()" class="form-horizontal">
        <h2 th:text="'Пользователь:  ' + ${username}"/>
        <div class="login-container">
            <form th:action="@{/logout}" method="post">
                <button class="btn btn-info btn-md" type="submit">
                    <span class="ui-button-text">Logout</span></button>
            </form>
        </div>
        <div id='calendar' style="width:1300px"></div>
        <p></p>

        <button id="add_event_button">Add event</button>

        <div id="dialog-form" title="Event">
            <form>
                <p><label for="event_type">Event</label>
                    <input type="text" id="event_type" name="event_type" value=""></p>
                <p><label for="event_start">Start</label>
                    <input type="text" name="event_start" id="event_start"/></p>
                <p><label for="event_end">End</label>
                    <input type="text" name="event_end" id="event_end"/></p>
                <input type="hidden" name="event_id" id="event_id" value="">
            </form>
        </div>


        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Название привычки</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="habit : ${habits}">
                    <td th:text="${habit.getTitle()}"/>
                </tr>
            </tbody>
        </table>

    </div>
</body>
</html>