<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>FullCalendar</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="fс/packages/core/main.css">
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript">
        $(document).ready(function() {
            $('#calendar').fullCalendar({
                events: {
                    url : '/api/event/all'
                }
            });
        });
    </script>
</head>
<body>
    <div id='calendar'></div>

    <script src="fс/packages/moment/main.js"></script>
    <script src="fс/packages/core/main.js"></script>
    <script src="js/main.js"></script>
</body>
</html>